section.how-it-works {
    padding: 50px 0;
}

.bg-white {
    background: #fff !important;
}

.rec-pro .container-fluid {
    max-width: 1560px;
}

.sec-title {
    text-align: center;
    padding-bottom: 2rem;
}

.how-it-works .sec-title {
    margin-left: .5rem;
}

.sec-title h2 {
    text-transform: capitalize;
    font-size: 40px;
    line-height: 46px;
}

.sec-title p {
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    text-transform: capitalize;
}


.row {
    display: -ms-flexbox;
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.how-it-works .serv-flex {
    -webkit-box-shadow: 0px 0px 1px #e7e7e7 !important;
    box-shadow: 0px 0px 1px #e7e7e7 !important;
    border: 1px solid #e7e7e7;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background: #fff;
    color: #f55d2c;
    text-align: center;
    padding: 1.5rem;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 1px #e7e7e7 !important;
    box-shadow: 0px 0px 1px #e7e7e7 !important;
    border: 1px solid #e7e7e7;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.how-it-works .art-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.how-it-works article img {
    padding-right: 1rem;
    padding-bottom: .5rem;
    width: 100px;
    height: 100px;
    text-align: center;
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.how-it-works article h3 {
    color: #222;
    margin: 1.7rem 0 .2rem;
}

h3 {
    font-size: 18px;
    color: #000000;
}

.how-it-works article p {
    color: #666;
    margin-top: 1rem;
    margin-bottom: 0px;
    text-align: justify !important;
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 767px) {
    .how-it-works .service-1 .serv {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 992px) {
    h3 {
        font-size: 1.2rem;
    }
}

/* .check-icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.feature-text b {
  color: #b78b51;
} */
/* 
 .row.service-1 {
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  } */

article.serv {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
}

.row.service-1>article {
    width: auto !important;
    flex: none !important;
}