<!-- START SECTION WHY CHOOSE US -->
@if(chooseUs.length > 0){
<section class="how-it-works bg-white rec-pro">
    <div class="container-fluid">
        <div class="sec-title">
            <h2 class="tajawal-bold" [ngStyle]="{ 'color': mainColor }" data-aos="fade-up">
                {{ 'validation.WhyChooseUs' | translate }}
                @if(currentLang === 'en'){
                ?
                }@else{
                ؟
                }
            </h2>
            <p class="tajawal-regular" data-aos="fade-up"
                [ngStyle]="{'direction' : currentLang === 'en' ? 'ltr' : 'rtl'}">{{ 'validation.WhyChooseUsDesc' |
                translate }}</p>
        </div>
        <div class="row service-1">
            @for(item of chooseUs;track item.id;let i =$index){
            <article class="col-lg-3 col-md-6 col-xs-12 serv mb-3" data-aos="fade-up"
                [ngStyle]="{'direction' : currentLang === 'en' ? 'ltr' : 'rtl'}">
                <div class="serv-flex">
                    <div class="art-1 img-13">
                        <img [src]="item.image" alt="">
                        <h3 class="tajawal-bold">
                            @if(currentLang === 'en'){
                            {{ item.name }}
                            }@else{
                            {{ item.nameAr }}
                            }
                        </h3>
                    </div>
                    <div class="service-text-p">
                        <p class="text-center tajawal-regular">
                            @if(currentLang === 'en'){
                            {{ item.description }}
                            }@else{
                            {{ item.descriptionAr }}
                            }
                        </p>
                    </div>
                </div>
            </article>
            }
        </div>
    </div>
</section>
}
<!-- END SECTION WHY CHOOSE US -->

<!-- <div class="row g-4">
                <div class="col-md-6 col-lg-4" *ngFor="let feature of features">
                    <div class="d-flex align-items-start p-3 border rounded shadow-sm h-100 bg-white">
                        <svg class="check-icon me-3 mt-1" xmlns="http://www.w3.org/2000/svg" id="_001-checked"
                            data-name="001-checked" width="19.5" height="19.5" viewBox="0 0 19.5 19.5">
                            <g id="Group_72075" data-name="Group 72075" transform="translate(4.63 2.45)">
                                <g id="Group_72074" data-name="Group 72074">
                                    <path id="Path_98152" data-name="Path 98152"
                                        d="M135.88,64.543a.735.735,0,0,0-1.039,0l-8.817,8.793-3.181-3.455a.735.735,0,1,0-1.081,1l3.7,4.017a.734.734,0,0,0,.525.237H126a.736.736,0,0,0,.519-.214l9.358-9.334A.735.735,0,0,0,135.88,64.543Z"
                                        transform="translate(-121.568 -64.327)" />
                                </g>
                            </g>
                            <g id="Group_72077" data-name="Group 72077">
                                <g id="Group_72076" data-name="Group 72076">
                                    <path id="Path_98153" data-name="Path 98153"
                                        d="M18.765,9.015a.735.735,0,0,0-.735.735A8.28,8.28,0,1,1,9.75,1.47.735.735,0,1,0,9.75,0,9.75,9.75,0,1,0,19.5,9.75.735.735,0,0,0,18.765,9.015Z" />
                                </g>
                            </g>
                        </svg>
                        <div class="feature-text" [innerHTML]="feature.title"></div>
                    </div>
                </div>
            </div> -->