<div class="propesties" id="propesties">
    <div class="container-fluid">
        <h2 class="special-heading tajawal-extrabold" data-aos="fade-up" data-aos-duration="800">
            @if(currentLang === 'en'){
            {{ uaeInternationalPropertyC.title }}
            }@else{
            {{ uaeInternationalPropertyC.titleAr }}
            }
        </h2>
        <p [ngStyle]="{ 'color': mainColor }" data-aos="fade-up" data-aos-duration="800">
            @if(currentLang === 'en'){
            {{ uaeInternationalPropertyC.caption }}
            }@else{
            {{ uaeInternationalPropertyC.captionAr }}
            }
        </p>
        <div class="propesties-content" data-aos="fade-up" data-aos-duration="1000">

            <div class="col" data-aos="fade-up">
                <div class="image image-column">
                    <img [src]="uaeInternationalPropertyC.image1" [alt]="uaeInternationalPropertyC.title" />
                </div>
            </div>

            <div class="col info" data-aos="fade-up" [ngStyle]="{'direction' : currentLang === 'en' ? 'ltr' : 'rtl'}">
                <p class="tajawal-regular">
                    @if(currentLang === 'en'){
                    {{ uaeInternationalPropertyC.description1 }}
                    }@else{
                    {{ uaeInternationalPropertyC.description1Ar }}
                    }
                </p>
                <p class="tajawal-regular">
                    @if(currentLang === 'en'){
                    {{ uaeInternationalPropertyC.description2 }}
                    }@else{
                    {{ uaeInternationalPropertyC.description2Ar }}
                    }
                </p>
            </div>
        </div>
    </div>
</div>