.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-logo {
    max-width: 100px;
    animation: fadeIn 1.5s ease-in-out infinite alternate;
}

/* Optional logo animation */
@keyframes fadeIn {
    from {
        opacity: 0.3;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}