<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="container">
        <img src="assets/images/err-img-3.gif" class="img" style="width:50%" />
        <div class="g mx-auto text-center">
            <h1 class="Sorry-text">{{ 'validation.Sorry' | translate}}</h1>
            <h3 class="text-center" style="font-size: 20px;">{{ 'validation.NotFoundText' | translate}}</h3>
            <button class="btn btn-primary mx-auto" routerLink="/">{{ 'validation.BackToHomePage' | translate}}</button>
        </div>
    </div>
</div>