<!-- main app content -->
<!-- <div [class.d-none]="isLoading">
    <app-header></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div> -->


<app-loading [show]="isFullLoading"></app-loading>

<app-header></app-header>

<!-- Navigation loader -->
<!-- Inline loading component between header and footer -->
<ng-container *ngIf="isSectionLoading">
    <div class="section-loader">
        <app-loading [show]="true"></app-loading>
    </div>
</ng-container>

<router-outlet></router-outlet>

<app-footer></app-footer>