<section class="headings d-flex justify-content-center align-items-center mb-3" [ngStyle]="{
    'background': 'linear-gradient(rgba(18, 27, 34, 0.6), rgba(18, 27, 34, 0.6)), url(' + backgroundImage + ') no-repeat center center',
    'background-size': 'cover'
  }">
    <div class="text-heading text-center">
        <div class="container">
            @if(currentLang === 'en'){
            <h1 class="tajawal-extrabold en">{{ 'validation.GetinTouch' | translate}}</h1>
            }@else{
            <h1 class="tajawal-extrabold">{{ 'validation.GetinTouch' | translate}}</h1>
            }
        </div>
    </div>
</section>

<div class="container py-5" [ngStyle]="{'direction' : currentLang === 'en' ? 'ltr' : 'rtl'}">
    <div class="row gy-4">
        <!-- Contact Info Section -->
        <div class="contact-info col-12 col-md-5 mb-3">
            <h5 [ngStyle]="{ 'color': mainColor }" class="section-title tajawal-bold">{{ 'validation.ContactDetails' |
                translate}}:</h5>
            <hr>
            <div class="d-flex justify-content-start align-items-center">
                <p class="section-content tajawal-medium">{{ 'validation.Landline' | translate}}:
                    @if(currentLang === 'en'){
                    +
                    }
                    {{landlineNumber}}
                    @if(currentLang !== 'en'){
                    +
                    }
                </p>
            </div>
            <div class="d-flex justify-content-start align-items-center">
                <p class="section-content tajawal-medium">{{ 'validation.Fax' | translate}}:
                    @if(currentLang === 'en'){
                    +
                    }
                    {{faxNumber}}
                    @if(currentLang !== 'en'){
                    +
                    }
                </p>
            </div>
            <div class="d-flex justify-content-start align-items-center">
                <p class="section-content tajawal-medium">{{ 'validation.Mobile' | translate}}:
                    @if(currentLang === 'en'){
                    +
                    }
                    {{mobileNumber}}
                    @if(currentLang !== 'en'){
                    +
                    }
                </p>
            </div>
            <div class="d-flex justify-content-start align-items-center">
                <p class="section-content tajawal-medium">{{ 'validation.Email' | translate}}: {{ emailo }}</p>
            </div>

            <h5 [ngStyle]="{ 'color': mainColor }" class="section-title mt-4 tajawal-bold">{{ 'validation.Address' |
                translate}}:</h5>
            <hr>
            <div class="d-flex justify-content-start align-items-center">
                <p class="section-content tajawal-medium">{{ 'validation.BuildingNumber' | translate}}: 30</p>
            </div>
            <div class="d-flex justify-content-start align-items-center">
                <p class="section-content tajawal-medium">{{ address }}</p>
            </div>
        </div>

        <!-- Form Section -->
        <div class="col-12 col-md-7 mb-3">
            <form #contactForm="ngForm">
                <div class="row g-3">
                    <div class="col-12 col-md-6">
                        <label for="name" class="form-label tajawal-medium">{{ 'validation.Name' | translate}}<span
                                style="color:#ec1c23">*</span></label>
                        <input ngModel name="name" #name="ngModel" type="text" class="form-control" id="name"
                            [placeholder]="'validation.Name' | translate" required>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="email" class="form-label tajawal-medium">{{ 'validation.Email' |
                            translate}}<span style="color:#ec1c23">*</span></label>
                        <input ngModel name="email" #email="ngModel" type="email" class="form-control" id="email"
                            [placeholder]="'validation.Email' | translate" required>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="phone" class="form-label tajawal-medium">{{ 'validation.PhoneNumber' |
                            translate}}<span style="color:#ec1c23">*</span></label>
                        <!-- <div class="input-group">
                            <span class="input-group-text">
                                <img src="https://flagcdn.com/w40/om.png" alt="Oman Flag" width="20">
                            </span>
                            <input ngModel type="tel" class="form-control" id="phone" placeholder="+968" required>
                        </div> -->
                        <!-- phone-input.component.html -->
                        <input ngModel name="phone" #phone="ngModel" id="phone" type="tel" class="form-control"
                            [placeholder]="'validation.PhoneNumber' | translate" #phoneInput required
                            [ngStyle]="{'direction' : currentLang === 'en' ? 'ltr' : 'rtl'}">
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="company" class="form-label tajawal-medium">{{ 'validation.Company' |
                            translate}}<span style="color:#ec1c23">*</span></label>
                        <!-- <input ngModel name="company" #company="ngModel" type="text" class="form-control" id="company"
                            placeholder="Company" required> -->
                        <select ngModel name="company" #company="ngModel" id="company" class="form-select" required
                            (ngModelChange)="onCompanyChange($event)">
                            <option value="" disabled selected>{{ 'validation.SelectACompany' | translate}}</option>
                            @for(company of companies;track company.id;let i=$index){
                            <option [value]="company.id">
                                @if(currentLang === 'en'){
                                {{ company.title }}
                                }@else{
                                {{ company.titleAr }}
                                }
                            </option>
                            }
                        </select>
                    </div>
                    @if(selectedCompany){
                    <div class="col-12 col-md-6">
                        <label for="activity" class="form-label tajawal-medium">{{ 'validation.CompanyActivity' |
                            translate}}<span style="color:#ec1c23">*</span></label>
                        <!-- <input ngMo del name="company" #company="ngModel" type="text" class="form-control" id="company"
                            placeholder="Company" required> -->
                        <select [(ngModel)]="selectedActivity" name="activity" #activity="ngModel" id="activity"
                            class="form-select" required>
                            <option value="" disabled selected>{{ 'validation.SelectAnActivity' | translate}}</option>
                            @for(act of companyDetails.activities;track act.id;let i=$index){
                            <option [value]="act.id">
                                @if(currentLang === 'en'){
                                {{ act.name }}
                                }@else{
                                {{ act.nameAr }}
                                }
                            </option>
                            }
                        </select>
                    </div>
                    }

                    @if(selectedCompany && selectedCompany.id===2 ){
                    <div class="col-12 col-md-6">
                        <label for="propServiceType" class="form-label tajawal-medium">{{ 'validation.ServiceType' |
                            translate}}<span style="color:#ec1c23">*</span></label>
                        <!-- <input ngMo del name="company" #company="ngModel" type="text" class="form-control" id="company"
                            placeholder="Company" required> -->
                        <select ngModel name="propServiceType" #propServiceType="ngModel" id="propServiceType"
                            class="form-select" required>
                            <option value="" disabled selected>{{ 'validation.SelectTheServiceType' | translate}}
                            </option>
                            @for(ser of propServices;track ser.id;let i=$index){
                            <option [value]="ser.id">
                                @if(currentLang === 'en'){
                                {{ ser.name }}
                                }@else{
                                {{ ser.nameAr }}
                                }
                            </option>
                            }
                        </select>
                    </div>
                    }

                    <div class="col-12">
                        <label for="subject" class="form-label tajawal-medium">{{ 'validation.Subject' |
                            translate}}<span style="color:#ec1c23">*</span></label>
                        <textarea ngModel name="subject" #subject="ngModel" class="form-control" id="subject" rows="4"
                            [placeholder]="'validation.Subject' | translate" required></textarea>
                    </div>
                    <div class="col-12">
                        <label for="message" class="form-label tajawal-medium">{{ 'validation.YourMessage' |
                            translate}}<span style="color:#ec1c23">*</span></label>
                        <textarea ngModel name="message" #message="ngModel" class="form-control" id="message" rows="4"
                            [placeholder]="'validation.Message' | translate" required></textarea>
                    </div>
                    <!-- <div class="col-12 d-flex align-items-center gap-2 flex-wrap">
                        <img src="https://dummyimage.com/200x50/ccc/000&text=CAPTCHA" alt="captcha" class="captcha-img">
                        <button type="button" class="btn btn-outline-secondary">⟳</button>
                    </div>
                    <div class="col-12">
                        <input type="text" class="form-control" placeholder="Enter captcha text" required>
                    </div> -->
                    <div class="col-12">
                        <button [ngStyle]="{ 'background-color': mainColor }" type="submit"
                            [disabled]="contactForm.invalid" class="btn btn-custom tajawal-bold"
                            (click)="submit(contactForm)">{{ 'validation.Submit' |
                            translate}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid py-5" style="padding-bottom: 0 !important;">
    <div class="row gy-4">
        <div class="col-12">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3609.440317264407!2d55.350214409301586!3d25.222090377601887!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f5db23fea49fd%3A0x4cb3544aaf975cf4!2sFestival%20city%20Center!5e0!3m2!1sen!2sae!4v1744408685356!5m2!1sen!2sae"
                width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>